<div class="dev-contact-wrapper">
    <form action="{{formAction.url}}" method="POST" class="dev-contact-form" data-bsp-form>
        <div class="bsp-container">
            <div class="bsp-row">
                <div class="bsp-column-full">

                    <div class="dev-contact-name">
                        {{#with name}}
                            {{render this}}
                        {{/with}}
                    </div>

                    <div class="dev-contact-phone">
                        {{#with phoneNumber}}
                            {{render this}}
                        {{/with}}
                    </div>

                    <div class="dev-contact-email">
                        {{#with emailAddress}}
                            {{render this}}
                        {{/with}}
                    </div>

                    <div class="dev-contact-msg">
                        {{#with msgContent}}
                            {{render this}}
                        {{/with}}
                    </div>

                    <div class="dev-contact-submit">
                        {{#with submit}}
                            {{render this}}
                        {{/with}}
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
