<div class="bsp-gallery-grid-wrapper{{#if galleryGridClassName}} {{galleryGridClassName}}{{/if}}{{#if galleryGridThumbs}} showing-grid{{/if}}" data-dev-gallery-grid data-dev-gallery-grid-options='{{> common/options options }}'>

	<div class="bsp-component bsp-gallery-embedded dev-gallery">
		{{#if galleryTitle}}
			<h3 class="bsp-component-title">{{galleryTitle}}</h3>
		{{/if}}

		<div class="bsp-component-content">
			
			<div class="gallery-module dev-gallery-grid-gallery{{#if galleryGridThumbs}} dev-gallery-grid-hidden{{/if}}" {{#unless showImagesAsList}}data-bsp-carousel{{/unless}}>
				{{#each gallerySlides}}
					{{#unless ../showImagesAsList}}<div class="bsp-carousel-slide">{{/unless}}
						{{render this}}
					{{#unless ../showImagesAsList}}</div>{{/unless}}
				{{/each}}
			</div>

			<div class="dev-gallery-grid {{#unless galleryGridThumbs}} hidden{{/unless}}">
				{{#each galleryGridThumbs}}
					<div class="dev-gallery-grid-thumb dev-gallery-grid-thumb{{@index}}">
						{{render this}}
					</div>
				{{/each}}
			</div>

		</div>

	</div>

	{{#if galleryCaption}}
		<div class="dev-gallery-grid-gallery-caption">{{galleryCaption}}</div>
	{{/if}}
</div>

{{#if galleryGridNextThumbs}}
	{{render galleryGridNextThumbs}}
{{/if}}